.container{
   background-color: rgb(0, 0, 0);
   width: 100%;
   height: 800px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}


.cardDetail{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: rgba(245, 245, 245, 0.055);
  border: 1px solid rgba(163, 234, 255, 0.438);
  width: 900px;
  height: 500px;
  margin-top: 12px;
  border-radius: 30px;
  padding: 15px;
}
.cardDetail:hover{
  transform: scale(1.05);
  background: linear-gradient(to bottom, #1b1c3f, #4a4e91);
}




.info{
  display: flex;
  flex-direction: column;
 
    background-color: rgb(241, 243, 243);
    border: 5px solid ;
    margin-top: 5px;
    width: 400px;
    height: 480px;
    text-align: center;
    display: flex;
    border-radius: 25px;
  
}

.info.h1{
  text-decoration: dotted;
  font-size: 55px;
}

.containerImg{
    display: flex;
    margin-top: 10px
}




.imgDetail{
    width: 400px;
    height: 470px;
    border-radius: 25px;
    border: 6px solid ;

}


.link{
    text-decoration: none;
    color: aliceblue;
    padding: 10x;
}

.beautifulButton {
    margin-top: 20px;
    position: relative;
    background: linear-gradient(to bottom, #1b1c3f, #4a4e91);
    color: white;
    font-family: "Segoe UI", sans-serif;
    font-weight: bold;
    font-size: 15px;
    border: none;
    border-radius: 30px;
    padding: 14px 18px;
    cursor: pointer;
    box-shadow: 0 5px 15px rgba(12, 12, 12, 0.075);
    animation: button-shimmer 2s infinite;
    transition: all 0.3s ease-in-out;
  }
  
  /* Hover animation */
  .beautifulButton:hover {
    background: linear-gradient(to bottom, #2c2f63, #5b67b7);
    animation: button-particles 1s ease-in-out infinite;
    transform: translateY(-2px);
  }
  
  /* Click animation */
  .beautifulButton:active {
    transform: scale(0.95);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  }
  
  /* Shimmer animation */
  @keyframes button-shimmer {
    0% {
      background-position: left top;
    }
  
    100% {
      background-position: right bottom;
    }
  }
  
  /* Particle animation */
  @keyframes button-particles {
    0% {
      background-position: left top;
    }
  
    100% {
      background-position: right bottom;
    }
  }