
.divContForm{
    display: flex;
    flex-direction: row;
    width: auto;
    background-color: black;
    color: aliceblue;
}

.divForm{
    background-color: rgba(0, 191, 255, 0.068);
    /* background-image: url('../images/form5.jpg'); */
    width: 370px;
    border: 1px solid grey;
    border-radius: 10px;
    padding: 25px;
    color: rgb(17, 17, 17);
    font-weight: 700;
    margin-top: 20px;
    margin-left: 12vw;
    height: fit-content;
    margin-right: 1.5vw;
}

.divPreVw{
    background-color:  rgba(0, 191, 255, 0.068);
    width: 350px;
    border: 1px solid grey;
    border-radius: 10px;
    padding: 25px;
    color: whitesmoke;
    margin-left: 5vw;
    margin-top: 20px;
    text-align: center;

}
.divTemps{
    padding-bottom: .5em;
    margin-top: 1em;
    margin-bottom: 1em;
    
}
.options{
    display: flex;
    flex-direction: row;
    color:  rgb(248, 249, 250);
    width: 350px;
    font-size:smaller;
    margin-top: 1.5em;
}

.input1{
    background-color: rgba(248, 248, 248, 0.911);
    width: 25vw;
    height: 1.5vw;
    color: black;
}

.h2Form{
    margin-top: 0;
    color: rgb(255, 255, 255);
    font-weight: 800;
    font-size: 200%;
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}
p{
    color: rgb(171, 0, 0);
    font-style: italic;
    margin-top: 0;
    font-size: 95%;
}

.label{
    color: bisque;
}






.linkRetForm{
    display: flex;
    background: linear-gradient(to bottom, #1b1c3f, #4a4e91);
    color: rgb(253, 252, 252);
    width: 5em;
    height: 2em;
    border-radius: 30px;
    padding: 5px;
    padding-top: 15px;
    font-size: larger;
   text-decoration: none;
    justify-content: center;
    margin-left: 2vw;
    /* margin-right: 0; */
    font-weight: 900;
    margin-top: 5em;
    
}

.buttonOptions{
    width: 20px;
    height: auto;
    font-size: x-small;
    padding: 5px;
    background-color:rgba(212, 223, 226, 0.425);
    margin-right: 10px;

}
