.container{
    display: flex;
    height: 100px;   
}


.buttonPage{
    width: fit-content;
    height: fit-content;
   padding: 10px;
    margin: 2px;
    background-color: rgba(30, 122, 228, 0.411);
    color: antiquewhite;
}

.buttonPage1{
    border: none;
    width: fit-content;
    height: fit-content;
    border-radius: 100px;
   padding: 10px;
    margin: 2px;
    background-color: rgb(255, 255, 255);
}


.divPage{
   
    margin-top: 1em;
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    justify-content: center;
}


.selectedPage {
    background-color: #2bcc2b7c; 
    color: #3f3a3a;
    border-color:#2bcc2b ;
    
  }
  
